**Exercice 1 :** Rechercher et supprimer de valeurs en double

In [1]:
import numpy as np
import pandas as pd

In [2]:
données = pd . DataFrame ({ "a" :[ 1 , 5 ] * 3 , "b" :[ 1 , 1 , 2 , 3 , 2 , 3 ]}) 
données

   a  b
0  1  1
1  5  1
2  1  2
3  5  3
4  1  2
5  5  3

Ecrire un programme Pandas qui sert à afficher les duplicates et de les supprimer par la suite

In [6]:
#solution
	
données.info()
	
données.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       6 non-null      int64
 1   b       6 non-null      int64
dtypes: int64(2)
memory usage: 224.0 bytes

(6, 2)

In [7]:
	données.describe()

             a         b
count  6.00000  6.000000
mean   3.00000  2.000000
std    2.19089  0.894427
min    1.00000  1.000000
25%    1.00000  1.250000
50%    3.00000  2.000000
75%    5.00000  2.750000
max    5.00000  3.000000

In [9]:
données.drop_duplicates()

   a  b
0  1  1
1  5  1
2  1  2
3  5  3

**Exercice 2 :** Mapping

In [10]:
import pandas as pd
data={'Name':['A','B','C','D'],'Age':[42,54,20,63]}
df=pd.DataFrame(data,index=['value1','value2','value3','value4'])
df

       Name  Age
value1    A   42
value2    B   54
value3    C   20
value4    D   63

In [11]:
score={'A':24,'B':30,'C':36,'D':42}
# Conversion du premier caractère du nom en majuscule pour que les noms soient identiques. 
n=df["Name"].str.capitalize()
n

value1    A
value2    B
value3    C
value4    D
Name: Name, dtype: object

Ecrire un programme Pandas qui sert à ajouter la variable de score à l'ensemble de données df à l'aide de la méthode map().

In [12]:
#solution
my_series = score={'A':24,'B':30,'C':36,'D':42},
    index=["1","2","3","4"])

altered_series=my_series.map(lambda x: str(x)+".00")

print("Initial Series:")
print(my_series,"\n")

print("Altered Series:")
print(altered_series,"\n")

IndentationError: ignored

**Exercice 3 :** Remplacement

In [13]:
s = pd.Series([ 14 , 55 , 87 , 966 , 78 , 44 ]) 
s

0     14
1     55
2     87
3    966
4     78
5     44
dtype: int64

Ecrire un programme Pandas qui permet de remplacer la valeur de 87 par nan

In [17]:
#solution 
s.replace(87, np.NaN)

0     14.0
1     55.0
2      NaN
3    966.0
4     78.0
5     44.0
dtype: float64

Ecrire un programme Pandas qui permet de remplacer les valeurs 78 et 14 par nan et 566 respectivement

In [21]:
#solution'
s.replace(78,14 np.NaN 566)

SyntaxError: ignored

**Exercice 4 :** Renommer les colonnes

In [22]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.arange(12).reshape(3,4),index=[0,1,2],columns=["a","b","c","d"])
df

   a  b   c   d
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [23]:
#Create a variable and pass it into the dataset
s=pd.Series(["one","two","three"])
df.index=df.index.map(s)
df

       a  b   c   d
one    0  1   2   3
two    4  5   6   7
three  8  9  10  11

Mettez en majuscule les noms de ligne et de colonne avec la méthode de renommage

![image](https://user-images.githubusercontent.com/123748165/226334330-bbd36d49-8a54-4a71-a734-9db99c0e79ae.png)

In [26]:
#solution
s=df["Name"].str.capitalize()
df['1/2 ID'] = map(lambda x: x.upper(), df['1/2 ID'])

KeyError: ignored

**Exercice 5 :** Trouver des valeurs spécifique dans un ensemble de données

In [27]:
data = pd . DataFrame ( np . random . randn ( 1000 , 4 )) 
data

            0         1         2         3
0   -0.928338 -0.806153  0.545470 -1.162863
1   -0.163828  0.049693  0.333836 -0.862438
2    1.601741 -0.299443  0.715619  0.170624
3    0.706058  0.792261  0.503129  0.265414
4    1.242936 -2.444868 -1.471117  0.801984
..        ...       ...       ...       ...
995  0.030251 -0.753690 -0.394550 -1.159138
996  1.545998 -0.208118  1.240580 -0.675616
997 -1.248583  0.366932  0.213969 -1.772341
998 -1.608741  1.837840 -0.271504 -0.004815
999  1.074618  0.216663  2.012151 -0.396134

[1000 rows x 4 columns]

In [28]:
data.head()

          0         1         2         3
0 -0.928338 -0.806153  0.545470 -1.162863
1 -0.163828  0.049693  0.333836 -0.862438
2  1.601741 -0.299443  0.715619  0.170624
3  0.706058  0.792261  0.503129  0.265414
4  1.242936 -2.444868 -1.471117  0.801984

recherchons les valeurs dont la valeur absolue dépasse 3 dans une colonne avec l'index 1.

In [31]:
#solution
np.random.seed(0)

df = pd.DataFrame(np.random.randint(1,20,size=(20, 4)), columns=list('1234'))

print (df.loc[df['']  = 3])

SyntaxError: ignored

**Exercice 6 :** One hot Encoding

In [32]:
import pandas as pd

ids = [11, 22, 33, 44, 55, 66, 77]
countries = ['Spain', 'France', 'Spain', 'Germany', 'France']

df = pd.DataFrame(list(zip(ids, countries)),
                  columns=['Ids', 'Countries'])

In [33]:
df.head()

   Ids Countries
0   11     Spain
1   22    France
2   33     Spain
3   44   Germany
4   55    France

Convertissez les valeurs de la colonne Countries en vecteurs one hot encoding :

![image](https://user-images.githubusercontent.com/123748165/226334556-ce5ab9be-b2e8-4ca9-90b8-55b35fbc719f.png)

In [35]:
#solution

pd.get_dummies(
    data, 
    prefix=None, 
    prefix_sep='_', 
    dummy_na=False, 
    columns=None, 
    sparse=False, 
    drop_first=False, 
    dtype=None
)

            0         1         2         3
0   -0.928338 -0.806153  0.545470 -1.162863
1   -0.163828  0.049693  0.333836 -0.862438
2    1.601741 -0.299443  0.715619  0.170624
3    0.706058  0.792261  0.503129  0.265414
4    1.242936 -2.444868 -1.471117  0.801984
..        ...       ...       ...       ...
995  0.030251 -0.753690 -0.394550 -1.159138
996  1.545998 -0.208118  1.240580 -0.675616
997 -1.248583  0.366932  0.213969 -1.772341
998 -1.608741  1.837840 -0.271504 -0.004815
999  1.074618  0.216663  2.012151 -0.396134

[1000 rows x 4 columns]